<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.macBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___-Info.plist:svplugin</key>
		<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;English&lt;/string&gt;
&lt;key&gt;CFBundleDisplayName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;CFBundleExecutable&lt;/key&gt;
&lt;string&gt;${EXECUTABLE_NAME}&lt;/string&gt;
&lt;key&gt;CFBundleName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
&lt;string&gt;6.0&lt;/string&gt;
&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;BNDL&lt;/string&gt;
&lt;key&gt;CFBundleSignature&lt;/key&gt;
&lt;string&gt;Svox&lt;/string&gt;
&lt;key&gt;CFBundleVersion&lt;/key&gt;
&lt;string&gt;1&lt;/string&gt;
&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}PlugIn&lt;/string&gt;
&lt;key&gt;SVMinimumAppVersion&lt;/key&gt;
&lt;string&gt;2.0&lt;/string&gt;
</string>
	</dict>
	<key>Description</key>
	<string>This template builds a Sandvox 2 plug-in.</string>
	<key>Identifier</key>
	<string>com.karelia.dt.sandvox.plugin</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importCocoa</string>
		<string>___PACKAGENAME___-Info.plist:svplugin</string>
		<string>___PACKAGENAME___-Info.plist:NSHumanReadableCopyright</string>
	</array>
	<key>SortOrder</key>
	<integer>3</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Cocoa</string>
			</array>
			<key>OtherFrameworks</key>
			<array>
				<string>AppKit</string>
				<string>CoreData</string>
				<string>Foundation</string>
			</array>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>SharedSettings</key>
			<dict>
				<key>INSTALL_PATH</key>
				<string>$(LOCAL_LIBRARY_DIR)/Bundles</string>
				<key>WRAPPER_EXTENSION</key>
				<string>svxElement</string>
                <key>HEADER_SEARCH_PATHS</key>
                <string>/Applications/Sandvox.app/Contents/Headers</string>
                <key>BUNDLE_LOADER</key>
                <string>/Applications/Sandvox.app/Contents/MacOS/Sandvox</string>
                <key>ARCHS</key>
                <string>$(ARCHS_STANDARD_32_BIT)</string>
                <key>VALID_ARCHS</key>
                <string>i386</string>
                <key>CONFIGURATION_BUILD_DIR</key>
                <string>~/Library/Application Support/Sandvox/PlugIns/</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
